@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla-Regular.woff2') format(woff2);
    font-weight: 400;
}
@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla-Bold.woff2') format(woff2);
    font-weight: 700;
}
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {

    --primary-cyan: hsl(179, 62%, 43%);
    --primary-cyan-light: hsl(179, 47%, 52%);
    --primary-bright-yellow: hsl(71, 73%, 54%);


    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --primary-white: hsl(0, 0%, 100%);


    --link-purple: hsl(228, 45%, 44%);

    --fw-400: 400;
    --fw-700: 700;
}

html, body {
    height: 100vh;
    font-family: 'Karla', sans-serif;
    background-color: var(--light-gray);
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    background: var(--main-bg-dark-blue);
}

main {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

footer {
    flex-shrink: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}


p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.attribution {
    font-size: 12px;
    text-align: center;
}

.attribution a {
    color: var(--link-purple);
}

.card-price-grid {
    width: 636px;
    height: 476px;
    border-radius: 10px;
    background-color: var(--primary-white);
    overflow: hidden;
    box-shadow: 0 0 20px #d6e3ec;
}

.card-price-grid .container-fluid {
    height: 100%;
}

.card-price-grid .row {
    height: 100%;
}

.card-price-grid .row > div:first-child {
    padding: 2.5rem;
}

.card-main-heading {
    color: var(--primary-cyan);
}

.card-sub-heading {
    color: var(--primary-bright-yellow);
}

.card-description {
    color: var(--grayish-blue);
    font-weight: var(--fw-400);
}

.card-price-grid .row > div:nth-child(2) {
    padding: 2.5rem;
    color: var(--light-gray);
    background-color: var(--primary-cyan);
}

.card-price-grid .row > div:last-child {
    padding: 2.5rem;
    color: var(--light-gray);
    background-color: var(--primary-cyan-light);
}

.card-price-grid .row > div:last-child ul {
    list-style: none;
    padding-left: 0;
    font-size: 14px;
    line-height: 1.4;
}

.card-price span:first-child {
    font-size: 2rem;
    font-weight: var(--fw-700);
}

.card-price span:last-child {
    color: var(--light-gray);
    opacity: .6;
}

.btn-sign-up {
    display: flex;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--primary-bright-yellow);
    color: var(--primary-white);
    text-decoration: none;
    font-weight: var(--fw-700);
    box-shadow: 0px 8px 18px #00000038;
    -webkit-transition: .4s;
            transition: .4s;
}

.btn-sign-up:hover {
    box-shadow: 0px 8px 18px #3e929100;
}

@media only screen and (max-width: 677px) {
    .card-price-grid {
        width: 100%;
        height: auto;
    }

    .card-price-grid .row > div:first-child, 
    .card-price-grid .row > div:nth-child(2),
    .card-price-grid .row > div:last-child {
        padding: 1.5rem;
    }  
}